<div class='footer-container'>
  <div class='footer-item footer-item-left'>
    <div>
      {{> 'icons/illa-logo'}}
    </div>
    <p class="basic-font-color">Creat with ❤️ by ILLA</p>
  </div>
</div>