<div class="toolbar">
  <div class="content">
    <div class="slogan">
      <span>Try </span>
      {{> "icons/illa"}}
      <span>Free</span>
    </div>
    <span>Faster solutions at internal tools, dashboards, CRUD apps.</span>
  </div>
  <a href="#">Try For Free</a>
</div>