<div class="toolbar">
  <div class="content">
    <div class="slogan">
      <span>Try </span>
      {{> "icons/illa"}}
      <span>Free</span>
    </div>
    <span>Build Your internal tools at lightning speed!</span>
  </div>
    {{#if post}}
        {{#post}}
            <a href="https://cloud.illacloud.com/?utm_source=blog&utm_medium=sign-in&utm_campaign=blog-sign-in-{{title}}" >Try For Free</a>
        {{/post}}
    {{else}}
        <a href="https://cloud.illacloud.com/?utm_source=blog&utm_medium=sign-in&utm_campaign=blog-sign-in" >Try For Free</a>
    {{/if}}
</div>