.gh-head {
    background-color: transparent;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

.gh-head-btn {
    --multiplier: 1.3;
}
.gh-head-brand img {
    transform: scale(0.6);
}
a:hover {
    opacity: 1!important;
}
.nav li {
    font-size: 16px;
}